@import '~normalize.css/normalize.css';
@import './_loading.scss';

$colorBackground: #f7f5f7;
$colorMessageBackground: #e2cfea;
$colorMessageBorder: #a06cd5;

$fontSizeMessage: 14px;

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url(../fonts/OpenSans-Regular.ttf) format('ttf');
}

body {
  background-color: $colorBackground;
  font-family: 'Open Sans', Helvetica, arial, sans-serif;
  padding: 20px;
}

.message-board {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  &__title {
    text-align: left;
    font-size: 22px;
  }

  &__message-list {
    list-style-type: none;
    padding: 0;
  }

  &__loader {
    text-align: center;
    padding: 20px 0;
  }
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: $colorMessageBackground;
  border: 1px solid $colorMessageBorder;
  border-radius: 3px;
  position: relative;

  &__content {
    padding: 8px;
    font-size: $fontSizeMessage;
    padding-right: 50px; // Leave some room for the visibility message
  }

  &__user-information {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 16px);
    margin-top: 8px;
    border-top: 1px solid $colorMessageBorder;
    padding: 3px 8px;
    font-size: 12px;
  }

  &__username {
    padding-left: 5px;
  }

  &__avatar img {
    border: 1px solid transparent;
    border-radius: 50%;
  }

  &__visibility {
    font-size: 10px;
    position: absolute;
    top: 2px;
    right: 3px;

    span {
      display: inline-block;
      margin-left: 3px;
      position: relative;
      top: -2px;
    }
  }

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

form {
  .form-group {
    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  label {
    font-size: 11px;
    text-transform: uppercase;
    color: #102b3f;
  }

  textarea {
    display: block;
    border: 1px solid $colorMessageBorder;
    border-radius: 2px;
    padding: 3px 8px;
    width: calc(100% - 18px);
    font-size: $fontSizeMessage;
  }

  input[type='checkbox'] + label {
    padding-left: 5px;
  }

  button[type='submit'] {
    border: 1px solid $colorMessageBorder;
    font-size: 11px;
    text-transform: uppercase;
    padding: 8px 16px;
    background: #fff;
  }
}
